BasedOnStyle: LLVM

Language: Cpp

PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: true
AlignTrailingComments: false
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 2
IndentCaseLabels: true
BreakBeforeBinaryOperators: NonAssignment
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ReflowComments: false
SortIncludes: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
# AllowShortEnumsOnASingleLine: false
# Apparently this isn't here anymore?
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 100
